
<!--<ul> // a la etiqueta pre le digo que me muestre la variable llamada tareas-->
    {{#each tasks}} <!--//Inserto el nombre de la variable que quiero recorrer-->
        <!-- <li>{this}//Muestra todos los datos</li> //Le digo que por cada recorrido muestra lo de las doble llaves-->
        <li>{{title}}</li> <!--//Le digo que por cada recorrido muestra lo de las doble llaves-->
        <!--<h1>{{description}}</h1>
    {{/each}}
</ul>//Es un for para recorrer listas.-->


<table>
    <thead>
    <tr>
        <th>N.</th>
        <th>Titlle</th>
        <th>Description</th>
        <th>Operations</th>
    </tr>
    </thead>
    <bod>
        {{#each tasks}}
            <td>{{@index}}</td> <!--Coloco un numero cada vez que se recorre-->
            <tr> <!--Esto parece ser la tablas-->
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>
                   {{#if done}}
                       <a href="/toggleDone/{{_id}}">Undone</a> <!--//Toogle signfica que se puede intercambi la propiedad-->
                    {{else}}
                       <a href="/toggleDone/{{_id}}">Done</a>
                   {{/if }}
                       <a href="/delete/{{_id}}">Delete</a>
                    <!--<button>Delete</button>-->
                    <a href="/edit/{{_id}}">Update</a>
                </td>
            </tr>
            {{/each}}
    </bod>
</table>